h1{
    color:white;
    text-transform: uppercase;
}
h2{
    color:white;
    font-size: 3rem;
}

body{
    background-image: url("back.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

button{
    border:none;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 15px;
}

#increment-btn{
    background:darkred;
}

#Save-btn{
    background-color: green;
}

#reset-btn{
    background-color: lightskyblue;
}

p{
    color:white;
    font-size: 1rem;
    padding-top: 5px;
}